@media (max-width: 1340px) {
    #option{
        margin: 0 21px;
    }
    .list{
        /* background-color: black; */
        text-align: right;
    }
}
@media (max-width: 1100px) {
    .whole{
        padding: 10px;
    }
    .body{
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        width: 100%;
        
    }
    .list{
        display: none;
    }
    .fa{
        visibility: visible;
    }
    #box-1{
        padding:  10px 50px;
    }
    .box-1{
        z-index: 100;
        position: absolute;
        /* left: 10%; */
        top: 30px;
        text-align: center;
        width: 100%;
        /* background-color: black; */
    }
    .box-2 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        
    }
    #image{
        width: 100%;
        height: 450px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 100px;
    background-color: purple;
    color: white;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .fa-brands{
    display: inline;
}
header .fa{
    font-size: 40px;
    display: none;
}
header ul li{
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    display: inline;
    margin: 0 0 0 90px;
    font-weight: bold;
}
header a{
    padding: 10px;
    text-decoration: none;
    color: white;

}
header a:hover{
    text-decoration: underline;
}
.list{
    width: 100%;
    text-align: right;
    /* background-color: black; */
}
.signin{
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    transition: ease-in .3s;
    text-decoration: none;
}
.signin:hover{
    background: pink;
    color: brown;
}
.body{
    display: flex;
    align-items: center;
    margin: 70px 0 0 0;

}
.box-1{
    padding: 0 100px 0 0;
    flex: 1;
}
.box-1 input[type='button']{
    background: pink;
    color: rgb(182, 102, 102);
    font-size: 15px;
    font-weight: bold;
    border: none;
    padding: 15px 65px;
    margin: 15px 0 0 0;
    border-radius: 25px;
    /* width: 300px; */
}
.box-1 input[type='button']:hover{
    cursor: pointer;
    background: cornsilk;
    transition: ease-in .3s;
}
.topic{
    font-size: 45px;
}
.content{
    font-size: large;
}
.box-2{
    flex: 1;
}
.box-2 img{
    width: 600px;
    height: 400px;
}